article 
    h2(class="prescription-card")= prescription.prescription.prescription_id
    
    p(class="prescription-card__date")=prescription.date
    p(class="prescription-card__patient")= "Nombre: " + prescription.patient.name + " " + prescription.patient.surname
    p(class="prescription-card__doctor")= "Doctor: " + prescription.doctor.name + " " + prescription.doctor.surname
    p(class="prescription-card__doctor-spaciallity")= "Speciality: " + prescription.doctor.speciality

    if prescription.prescription.medications 
        h3 Medications
        section(class="prescription-medications")
            each medication in prescription.prescription.medications 
                article(class="prescription-medication")
                    h4= medication.name

    if role==="doctor"              
        a(href=`/prescription/${prescription.prescription.prescription_id}/edit`)
            button Edit
        form(action=`/prescription/${prescription.prescription.prescription_id}/delete`, method="post") 
            button Delete

    
