article 
    h2(class="doctor-card")= doctor.doctor_id
    
    p(class="doctor-card__name")="Name: " + doctor.name
    p(class="doctor-card__surname")="Surname: " + doctor.surname
    p(class="doctor-card__speciallity")="Speciality: " + doctor.speciality
    p(class="doctor-card__telephone")="Phone number: " + doctor.telephone
    
    a(href=`/data/edit`)
        button Edit