article 
    h2(class="doctor-card")= ID: doctor.doctor_id
    
    p(class="doctor-card__name")= doctor.name
    p(class="doctor-card__surname")= doctor.surname
    p(class="doctor-card__speciallity")= doctor.speciallity
    p(class="doctor-card__telephone")= doctor.telephone
    
    a(href=`/data/edit`)
        button Edit