article 
    h2(class="patient-card")= patient.patient_id
    
    p(class="patient-card__name")= patient.name
    p(class="patient-card__surname")= patient.surname
    p(class="patient-card__birthdate")= patient.birthdate
    p(class="patient-card__ssn")= patient.ssn
    p(class="patient-card__telephone")= patient.telephone
    
    a(href=`/data/edit`)
        button Edit